@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    position: absolute;
    background-color: burlywood;
    /* transform: translateY(-100vh) translateX(100vw); */
    transition: 1s;
    /* visibility: hidden; */
}

.responsive_nav {
    transform: none;
}

header button {
    position: fixed;
    background-color: red;
    transform: none;
}

header {
    max-width: 100vw;
}

